.after-failing-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
  }
  
  .content {
    text-align: center;
    margin: 0 100px;
  }
  
  .failed-cat-image {
    width: 200px; /* Adjust size as needed */
    height: auto;
  }
  
  .message {
    font-family: 'Spicy Rice', sans-serif;
    font-size: 60px;
    margin: 100px 0;
    line-height: 1.2;
    color: #6F96D1;
  }
  
  
  .buttons-container {
    display: flex;
    justify-content: center;
  }
  
  .start-writing-button {
    margin: 0 10px;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    color: white;
    background-color: #6F96D1;
    width: 200px;
    height: 65px;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
  }
  