@import url('https://fonts.googleapis.com/css2?family=Spicy+Rice&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&display=swap');

body {
  margin: 0; 
  font-family: 'Poppins', sans-serif;
}

.first {
  margin-bottom: 230px;
}

.logo {
  font-family: 'Spicy Rice', serif;
  font-size: 24px;
  color: #6F96D1;
  line-height: 0.6;
  margin-left: 20px;
}

.top {
  background-color: #6F96D1;
  height: 53px;
  width: 100%;
}

#desktop-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  height: 80px;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-links li {
  position: relative;
}

.nav-links a {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('../assets/Folder.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  text-decoration: none;
  color: white;
  font-size: 13px;
  width: 35px;
  height: 35px;
  padding: 10px;
}

h1 {
  font-family: 'Spicy Rice', serif;
  color: #6F96D1;
  font-weight: lighter;
  font-size: 100px;
  line-height: 0.7;
  text-align: center;
  margin-top: 10%;
  position: relative;
}

.cloud {
  width: 200px;
  height: 200px;
  position: absolute;
}

.left-top {
  top: 17%;
  left: 17%;
}

.left-bottom {
  bottom: 10%;
  left: 10%;
}

.right-top {
  top: 10%;
  right: 10%;
}

.right-bottom {
  bottom: 10%;
  right: 10%;
}

.cat {
  width: 320px;
  height: 330px;
  position: absolute;
  right: 14%;
  top: 70%;
  transform: translateY(-50%);
  z-index: 1;
}

.title {
  color: #6F96D1;
  font-weight: bold;
}

.intro-text {
  line-height: 1.5;
  font-size: 16px;
  text-align: center;
  margin: 0 20px;
}

@media only screen and (max-width: 600px) {
  .logo {
    font-size: 18px;
  }

  .nav-links {
    gap: 10px; 
  }

  h1 {
    font-size: 60px;
    line-height: 1.2;
    margin-top: 20px; 
  }

  .cloud {
    display: none;
  }

  .cat {
    width: 240px;
    height: 250px;
    left: 50%;
    top: 80%;
    transform: translateY(-50%);
    z-index: 1;
  }
}

.clouds {
  margin-bottom: 50px;
}

.new-section {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 50px;
  position: relative;
  z-index: 0;
  margin-top: 50px;
}

.card {
  display: flex;
  flex-direction: rows;
  justify-content: space-between;
  align-items: center;
  width: 440px;
  height: 230px;
  padding: 20px;
  border: 3px solid #000;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: relative;
  overflow: hidden;
}

.card h2 {
  text-align: left;
}

.card p {
  text-align: left;
  font-size: smaller;
}

.card img.character {
  position: absolute;
  bottom: 0;
  right: 10px;
  max-width: 100%;
  max-height: 100px;
  object-fit: contain;
  margin-bottom: 0;
}

.card-heading {
  font-size: 24px;
  margin-bottom: 10px;
}

.card-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #6F96D1;
  font-size: 16px;
  margin-top: 10px;
}

.card-link img {
  margin-left: 8px;
}
